*{
    padding: 0;
    margin: 0;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
    text-decoration: underline;
}
body{
    background-color: rgb(4, 106, 165);
    font-family: 'Murecho', sans-serif;
    color: whitesmoke;
    font-family: 'Bebas Neue', sans-serif;
    text-decoration: none;
    font-size: 3em;
}
.container{
    display: flex;
    justify-content: center;
}
.projects{
    width: 45%;
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
}
.exercises{
    padding-top: 50px;
}