body{
    font-family: 'Bebas Neue', sans-serif;
    color: rgb(79, 79, 185);
}
h1{
    text-transform: uppercase;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.container{
    display: flex;
}
.image-style{
    display: block;
    max-width: 100%;
    height: auto;
    justify-content: center;
}
.right{
    justify-content: center;
}
.left{
    width: 45%;
    padding-left: 10px;
    padding-right: 10px;
}
.blurb{
    line-height: 1.4em;
}
.link1{
    display: flex;
    justify-content: left;
}
.link2{
    display: flex;
    justify-content: right;
}