 *{
     padding: 0;
     margin: 0;
 }
 
 body{
     background-color: rgb(241, 139, 156);
 }
 p{
    background-color:rgb(241, 139, 156);
    font-family: 'Bebas Neue', sans-serif;
    font-size: 5em;
    color: rgb(79, 79, 185);
}
.container{
    display: flex;
    justify-content: space-around;
}