h1{
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
}
.container{
    display: flex;
    justify-content: center;
}
.image{
    display: flex;
    justify-content: center; 
}