* {
    box-sizing: border-box;
    margin: 0;
    /*   padding: 0; */
  }
  
  html,
  body {
    width: 100%;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
  }

  .fixed {
    position: fixed;
  }
  
  .filters,
  .sort {
    padding: 20px;
    width: 100%;
  }

  .list {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .filter-btn, .sort-btn {
    font-family: Montserrat, sans-serif;
    color: black;
    background-color: lime;
    width: 180px;
    height: 40px;
    text-align: center;
    border: 1px solid black;
  }
  
  .filter-btn.active, .sort-btn.active {
    font-family: Montserrat, sans-serif;
    border-color: black;
    border: 1px solid black;
    background-color: lime;
  }
  
  ul {
    margin-top: 500 px;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
  }
  
  li {
    list-style-type: none;
    padding: 10px;
    margin: 10px;
    width: 20%;
  }
  
  li:hover {
    border: 2 px solid #141414;
    background: rgb(135, 135, 229);
  }
  
  ul .card.hide {
    display: none;
  }
  
  ul .card.show {
    animation: fadeIn 0.5s ease;
  }
  
  img {
    width: 100%;
    height: 300 px;
    align-content: center;
  }

