* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    }
    
    html, body {
        height:100%;
        width:100%;
    }
    
    body {
        background-color:lavender;
        height:100%;
        display:flex;
        flex-direction:column;
    }

    .flex-container {
        display:flex;
        flex-direction:column;
        height:100%;
        width: 100%;
        padding-left: 10px;
    }

    .poem {
        font-family: Biz UDPMincho;
        font-size: 5.5em;
        line-height:115%;
    }

    footer {
        font-size: 2em;
        padding-left: 10px;
        padding-right: 10px;
        color: black
    }

    .original, .refresh {
        font-family: Biz UDPMincho;
        display:flex;
        flex-direction:row;
        height: 60px;
        width: 210xpx;
        position:static;
        text-decoration: none;
    }

    a:link {
        text-decoration: none;
        color: black;
    }
    a:visited {
        text-decoration: none;
        color: black;
    }
    a:hover {
        font-style: italic;
        color: navy;
    }

